syntax: glob
isim/
topLevel_html/
xst/
xlnx_auto_0_xdb/
binary/
*.hgignore
*.hg
*.projectmgr
*.xbcd
*.log
*.ref
*.xreport
*.ncf
*.vho
_xmsgs
_ngo
*.debug
*.bgn
*.prm
*.sig
*.cfi
*.bld
*.cmd_log
*.didat
*.drc
*.err
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptx
*.gyd
*.ptwx
*.jed
*.lfp
*.mfd
*.nga
*.pnx
*.rpt
*.tim
*.tspec
*.vm6
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xwbt
*.html
*.htm
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.txt
*.schlog
*.xrpt
*.xml
*.gise
*.exe
*.wdb
*.xmsgs
*.cmd
*.ini
*.vdbl
*.vdbx
._DAV/
ipcore_dir/