#OFFSET = IN 10 ns BEFORE CLK;
#OFFSET = OUT 10 ns AFTER CLK;
#TIMESPEC TS_P2P = FROM PADS TO PADS 10 ns;

# USB3 Framegrabber v1

NET CLK_I PERIOD = 20ns HIGH 50%; #50 MHz

#NET clk_cl TNM_NET = TNM_CLK_80M;
#TIMESPEC TS_CLK80M = PERIOD TNM_CLK_80M 12.5 ns HIGH 50 %;

CONFIG VCCAUX = 3.3;

NET "CLK_I"				LOC = P50	| IOSTANDARD = LVCMOS33;

NET "DQ_O<0>"			LOC = P8	| IOSTANDARD = LVCMOS33;
NET "DQ_O<1>"			LOC = P9	| IOSTANDARD = LVCMOS33;
NET "DQ_O<2>"			LOC = P10	| IOSTANDARD = LVCMOS33;
NET "DQ_O<3>"			LOC = P11	| IOSTANDARD = LVCMOS33;
NET "DQ_O<4>"			LOC = P12	| IOSTANDARD = LVCMOS33;
NET "DQ_O<5>"			LOC = P14	| IOSTANDARD = LVCMOS33;
NET "DQ_O<6>"			LOC = P15	| IOSTANDARD = LVCMOS33;
NET "DQ_O<7>"			LOC = P16	| IOSTANDARD = LVCMOS33;
NET "DQ_O<8>"			LOC = P17	| IOSTANDARD = LVCMOS33;
NET "DQ_O<9>"			LOC = P21	| IOSTANDARD = LVCMOS33;
NET "DQ_O<10>"			LOC = P22	| IOSTANDARD = LVCMOS33;
NET "DQ_O<11>"			LOC = P23	| IOSTANDARD = LVCMOS33;
NET "DQ_O<12>"			LOC = P24	| IOSTANDARD = LVCMOS33;
NET "DQ_O<13>"			LOC = P26	| IOSTANDARD = LVCMOS33;
NET "DQ_O<14>"			LOC = P27	| IOSTANDARD = LVCMOS33;
NET "DQ_O<15>"			LOC = P29	| IOSTANDARD = LVCMOS33;

NET "DQ_O<16>"			LOC = P101	| IOSTANDARD = LVCMOS33;
NET "DQ_O<17>"			LOC = P100	| IOSTANDARD = LVCMOS33;
NET "DQ_O<18>"			LOC = P99	| IOSTANDARD = LVCMOS33;
NET "DQ_O<19>"			LOC = P98	| IOSTANDARD = LVCMOS33;
NET "DQ_O<20>"			LOC = P97	| IOSTANDARD = LVCMOS33;
NET "DQ_O<21>"			LOC = P95	| IOSTANDARD = LVCMOS33;
NET "DQ_O<22>"			LOC = P94	| IOSTANDARD = LVCMOS33;
NET "DQ_O<23>"			LOC = P93	| IOSTANDARD = LVCMOS33;
NET "DQ_O<24>"			LOC = P92	| IOSTANDARD = LVCMOS33;
NET "DQ_O<25>"			LOC = P88	| IOSTANDARD = LVCMOS33;
NET "DQ_O<26>"			LOC = P87	| IOSTANDARD = LVCMOS33;
NET "DQ_O<27>"			LOC = P85	| IOSTANDARD = LVCMOS33;
NET "DQ_O<28>"			LOC = P84	| IOSTANDARD = LVCMOS33;
NET "DQ_O<29>"			LOC = P83	| IOSTANDARD = LVCMOS33;
NET "DQ_O<30>"			LOC = P82	| IOSTANDARD = LVCMOS33;
NET "DQ_O<31>"			LOC = P81	| IOSTANDARD = LVCMOS33;

NET "CTL_IO<17>"		LOC = P30	| IOSTANDARD = LVCMOS33;
NET "CTL_IO<18>"		LOC = P32	| IOSTANDARD = LVCMOS33;
NET "CTL_IO<19>"		LOC = P33	| IOSTANDARD = LVCMOS33;
NET "CTL_IO<20>"		LOC = P34	| IOSTANDARD = LVCMOS33;
NET "CTL_IO<21>"		LOC = P35	| IOSTANDARD = LVCMOS33;
NET "CTL_IO<22>"		LOC = P40	| IOSTANDARD = LVCMOS33;
NET "CTL_IO<23>"		LOC = P41	| IOSTANDARD = LVCMOS33;
NET "CTL_IO<24>"		LOC = P43	| IOSTANDARD = LVCMOS33;
NET "CTL_IO<25>"		LOC = P44	| IOSTANDARD = LVCMOS33;
NET "CTL_IO<26>"		LOC = P45	| IOSTANDARD = LVCMOS33;
NET "CTL_IO<27>"		LOC = P46	| IOSTANDARD = LVCMOS33;
NET "CTL_IO<28>"		LOC = P47	| IOSTANDARD = LVCMOS33;
NET "CTL_IO<29>"		LOC = P48	| IOSTANDARD = LVCMOS33;

NET "PCLK_O"			LOC = P7	| IOSTANDARD = LVCMOS33;
NET "INT_O"				LOC = P74	| IOSTANDARD = LVCMOS33;
#NET "GPIO45_I"			LOC = P75	| IOSTANDARD = LVCMOS33;

# LPP
NET "SCL_IO"			LOC = P6	| IOSTANDARD = LVCMOS33;
NET "SDA_IO"			LOC = P5	| IOSTANDARD = LVCMOS33;
NET "MOSI_RX_I"			LOC = P57	| IOSTANDARD = LVCMOS33;
NET "MISO_TX_O"			LOC = P58	| IOSTANDARD = LVCMOS33;
NET "CS_I"				LOC = P56	| IOSTANDARD = LVCMOS33;
NET "SCK_I"				LOC = P55	| IOSTANDARD = LVCMOS33;

# Flash
NET "FLASH_CS_O"		LOC = P38	| IOSTANDARD = LVCMOS33;
NET "FLASH_SCK_O"		LOC = P70	| IOSTANDARD = LVCMOS33;
NET "FLASH_MOSI_O"		LOC = P64	| IOSTANDARD = LVCMOS33;
NET "FLASH_MISO_I"		LOC = P65	| IOSTANDARD = LVCMOS33;

# Misc
NET "LED_O<0>"			LOC = P1	| IOSTANDARD = LVCMOS33;
NET "LED_O<1>"			LOC = P2	| IOSTANDARD = LVCMOS33;
NET "POCL_O"			LOC = P105	| IOSTANDARD = LVCMOS33;

# CameraLink
NET "CL_CLK_In"			LOC = P126	| IOSTANDARD = LVDS_33 | SLEW = QUIETIO;	# GLCK14	# Invert in Fabric
NET "CL_CLK_Ip"			LOC = P127	| IOSTANDARD = LVDS_33 | SLEW = QUIETIO;	# GLCK15	# Invert in Fabric

NET "CL_DATA_Ip<0>"		LOC = P119	| IOSTANDARD = LVDS_33 | SLEW = QUIETIO;
NET "CL_DATA_In<0>"		LOC = P118	| IOSTANDARD = LVDS_33 | SLEW = QUIETIO;
NET "CL_DATA_Ip<1>"		LOC = P121	| IOSTANDARD = LVDS_33 | SLEW = QUIETIO;
NET "CL_DATA_In<1>"		LOC = P120	| IOSTANDARD = LVDS_33 | SLEW = QUIETIO;
NET "CL_DATA_Ip<2>"		LOC = P124	| IOSTANDARD = LVDS_33 | SLEW = QUIETIO;	# Invert in Fabric
NET "CL_DATA_In<2>"		LOC = P123	| IOSTANDARD = LVDS_33 | SLEW = QUIETIO;	# Invert in Fabric
NET "CL_DATA_Ip<3>"		LOC = P132	| IOSTANDARD = LVDS_33 | SLEW = QUIETIO;	# Invert in Fabric
NET "CL_DATA_In<3>"		LOC = P131	| IOSTANDARD = LVDS_33 | SLEW = QUIETIO;	# Invert in Fabric

# Outputs must be on BANK 0 or 2
NET "CL_CC_Op<0>"		LOC = P134	| IOSTANDARD = LVDS_33 | SLEW = QUIETIO;# | DIFF_TERM = TRUE;
NET "CL_CC_On<0>"		LOC = P133	| IOSTANDARD = LVDS_33 | SLEW = QUIETIO;# | DIFF_TERM = TRUE;
NET "CL_CC_Op<1>"		LOC = P138	| IOSTANDARD = LVDS_33 | SLEW = QUIETIO;# | DIFF_TERM = TRUE;
NET "CL_CC_On<1>"		LOC = P137	| IOSTANDARD = LVDS_33 | SLEW = QUIETIO;# | DIFF_TERM = TRUE;
NET "CL_CC_Op<2>"		LOC = P140	| IOSTANDARD = LVDS_33 | SLEW = QUIETIO;# | DIFF_TERM = TRUE;	# Invert in Fabric
NET "CL_CC_On<2>"		LOC = P139	| IOSTANDARD = LVDS_33 | SLEW = QUIETIO;# | DIFF_TERM = TRUE;	# Invert in Fabric
NET "CL_CC_Op<3>"		LOC = P142	| IOSTANDARD = LVDS_33 | SLEW = QUIETIO;# | DIFF_TERM = TRUE;
NET "CL_CC_On<3>"		LOC = P141 	| IOSTANDARD = LVDS_33 | SLEW = QUIETIO;# | DIFF_TERM = TRUE;

NET "CL_TC_Op"			LOC = P112	| SLEW = QUIETIO;#| IOSTANDARD = LVDS_33;# | DIFF_TERM = TRUE;
NET "CL_TC_On"			LOC = P111	| SLEW = QUIETIO;#| IOSTANDARD = LVDS_33;# | DIFF_TERM = TRUE;

NET "CL_TFG_Ip"			LOC = P114	| IOSTANDARD = LVDS_33 | SLEW = QUIETIO;# | DIFF_TERM = TRUE;
NET "CL_TFG_In"			LOC = P115	| IOSTANDARD = LVDS_33 | SLEW = QUIETIO;# | DIFF_TERM = TRUE;
